<?xml version="1.0" encoding="UTF-8" ?>
<!--
/*

 * Copyright 2017-2025  [webank-wedpr]
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the License
 * is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing permissions and limitations under
 * the License.
 *
 */
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webank.wedpr.components.meta.agency.dao.AgencyMapper">
    <resultMap id="AgencyDOMap" type="com.webank.wedpr.components.meta.agency.dao.AgencyDO">
        <id column="name" property="name"/>
        <result column="cnName" property="cnName"/>
        <result column="desc" property="desc"/>
        <result column="meta" property="meta"/>
        <result column="create_time" property="createTime"/>
        <result column="last_update_time" property="lastUpdateTime"/>
    </resultMap>
    <select id="queryByCondition" resultMap="AgencyDOMap">
        select * from `wedpr_agency_table`
        where 1=1
        <choose>
            <when test="condition != null and condition != ''">
                <if test="condition.name != null and condition.name !=''">
                    and `name` like concat(#{condition.name}, '%')
                </if>
                <if test="condition.cnName != null and condition.cnName !=''">
                    and `cnName` like concat(#{condition.cnName}, '%')
                </if>
                <if test="condition.desc != null and condition.desc !=''">
                    and `desc` like concat('%', #{condition.desc}, '%')
                </if>
                <if test="condition.startTime != null and condition.startTime  != ''">
                    <![CDATA[ and datediff(create_time, #{condition.startTime}) >= 0]]>
                </if>
                <if test="condition.endTime != null and condition.endTime  != ''">
                    <![CDATA[ and datediff(create_time, #{condition.endTime}) <= 0]]>
                </if>
            </when>
        </choose>
    </select>
    <insert id="batchInsert" parameterType="java.util.List">
        insert into wedpr_agency_table(`name`, `cnName`, `desc`, `meta`, `create_time`) values
        <foreach collection="agencies" item = "agency" index = "index" separator=",">
            (#{agency.name}, #{agency.cnName}, #{agency.desc}, #{agency.meta}, NOW())
        </foreach>
    </insert>
</mapper>
