<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.wedpr.admin.mapper.WedprJobTableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.webank.wedpr.admin.entity.WedprJobTable">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="project_name" property="projectName" />
        <result column="owner" property="owner" />
        <result column="owner_agency" property="ownerAgency" />
        <result column="job_type" property="jobType" />
        <result column="parties" property="parties" />
        <result column="param" property="param" />
        <result column="status" property="status" />
        <result column="job_result" property="jobResult" />
        <result column="report_status" property="reportStatus" />
        <result column="create_time" property="createTime" />
        <result column="last_update_time" property="lastUpdateTime" />
    </resultMap>
    <select id="jobTypeStatistic" resultType="com.webank.wedpr.admin.entity.WedprJobTable">
        select job_type, count(*) as count from wedpr_job_table wjt group by job_type
    </select>
    <select id="jobAgencyStatistic" resultType="com.webank.wedpr.admin.entity.WedprJobTable">
        select owner_agency, count(*) as count from wedpr_job_table wjt where wjt.owner_agency = #{agencyName} group by owner_agency
    </select>
    <select id="jobAgencyTypeStatistic" resultType="com.webank.wedpr.admin.entity.WedprJobTable">
        select owner_agency, job_type, count(*) as count from wedpr_job_table wjt
        where wjt.owner_agency = #{agencyName} and wjt.job_type = #{jobType}
        group by owner_agency, job_type
    </select>
    <select id="getJobDateLine" resultType="com.webank.wedpr.admin.entity.WedprJobTable">
        WITH RECURSIVE DateRange AS (
        SELECT #{startTime} AS `create_time`
        UNION ALL
        SELECT DATE_ADD(`create_time`, INTERVAL 1 DAY)
        FROM DateRange
        WHERE <![CDATA[ DATEDIFF(create_time, #{endTime}) < 0]]>
        )
        SELECT
        DR.`create_time`,
        COALESCE(COUNT(WJ.`id`), 0) AS `count`
        FROM
        DateRange DR
        LEFT JOIN
        `wedpr_job_table` WJ ON DATE(WJ.`create_time`) = DR.`create_time` AND WJ.`job_type` = #{jobType}
        GROUP BY
        DR.`create_time`
        ORDER BY
        DR.`create_time`
    </select>

</mapper>
