<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.wedpr.admin.mapper.WedprJobDatasetRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.webank.wedpr.admin.entity.WedprJobDatasetRelation">
        <result column="job_id" property="jobId" />
        <result column="dataset_id" property="datasetId" />
        <result column="create_time" property="createTime" />
    </resultMap>
    <select id="queryJobsByDatasetId" resultType="com.webank.wedpr.admin.entity.WedprJobTable">
        SELECT t.*
        FROM `wedpr_job_table` t
        INNER JOIN (
        SELECT
        DISTINCT job_id
        FROM
        `wedpr_job_dataset_relation`
        WHERE
        dataset_id = #{datasetID}
        ) temp ON t.id = temp.job_id
        ORDER BY create_time DESC
    </select>

</mapper>
