<?xml version="1.0" encoding="UTF-8" ?>
<!--
/*

 * Copyright 2017-2025  [webank-wedpr]
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the License
 * is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 * or implied. See the License for the specific language governing permissions and limitations under
 * the License.
 *
 */
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webank.wedpr.components.sync.dao.SyncStatusMapper">
    <resultMap id="ResourceActionDOMap" type="com.webank.wedpr.components.sync.dao.ResourceActionDO">
        <id column="resource_id" property="resourceID"/>
        <result column="trigger" property="trigger"/>
        <result column="agency" property="agency"/>
        <result column="transaction_hash" property="transactionHash"/>
        <result column="resource_type" property="resourceType"/>
        <result column="resource_action" property="resourceAction"/>
        <result column="index" property="index"/>
        <result column="block_number" property="blockNumber"/>
        <result column="status" property="status"/>
        <result column="status_msg" property="statusMsg"/>
        <result column="create_time" property="createTime"/>
        <result column="last_update_time" property="lastUpdateTime"/>
    </resultMap>
    <insert id="insertResourceRecordMeta" parameterType="com.webank.wedpr.components.sync.dao.ResourceActionDO">
        insert into `wedpr_sync_status_table`(`resource_id`,
        `resource_type`, `trigger`, `agency`, `transaction_hash`, `resource_action`, `index`,
         `block_number`, `status`, `status_msg`, `create_time`) values(#{record.resourceID},
          #{record.resourceType}, #{record.trigger}, #{record.agency}, #{record.transactionHash}, #{record.resourceAction},
          #{record.index}, #{record.blockNumber}, #{record.status},#{record.statusMsg}, NOW())
    </insert>
    <update id = "updateResourceRecordMeta" parameterType="com.webank.wedpr.components.sync.dao.ResourceActionDO">
        update `wedpr_sync_status_table`
        <set>
            <if test="record.index != null and record.index !=''">
                `index` = #{record.index},
            </if>
            <if test="record.blockNumber != null and record.blockNumber !=''">
                `block_number` = #{record.blockNumber},
            </if>
            <if test="record.agency != null and record.agency !=''">
                `agency` = #{record.agency},
            </if>
            <if test="record.transactionHash!= null and record.transactionHash !=''">
                `transaction_hash` = #{record.transactionHash},
            </if>
            <if test="record.status != null and record.status !=''">
                `status` = #{record.status},
            </if>
            <if test="record.statusMsg != null and record.statusMsg !=''">
                `status_msg` = #{record.statusMsg},
            </if>
        </set>
        where `resource_id` = #{record.resourceID}
    </update>
    <select id="queryResourceRecordMeta" resultMap="ResourceActionDOMap">
        select * from `wedpr_sync_status_table` where 1 = 1
        <choose>
            <when test="condition != null and condition != ''">
                <if test="condition.resourceID != null and condition.resourceID !=''">
                    and `resource_id` like concat(#{condition.resourceID}, '%')
                </if>
                <if test="condition.trigger != null and condition.trigger !=''">
                    and `trigger` = #{condition.trigger}
                </if>
                <if test="condition.agency != null and condition.agency !=''">
                    and `agency` = #{condition.agency}
                </if>
                <if test="condition.resourceType != null and condition.resourceType !=''">
                    and `resource_type` = #{condition.resourceType}
                </if>
                <if test="condition.resourceAction != null and condition.resourceAction !=''">
                    and `resource_action` = #{condition.resourceAction}
                </if>
                <if test="condition.index != null and condition.index !=''">
                    and `index` = #{condition.index}
                </if>
                <if test="condition.blockNumber != null and condition.blockNumber !=''">
                    and `block_number` = #{condition.blockNumber}
                </if>
                <if test="condition.status != null and condition.status !=''">
                    and `status` = #{condition.status}
                </if>
                <if test="condition.startTime != null and condition.startTime  != ''">
                    <![CDATA[ and datediff(create_time, #{condition.startTime}) >= 0]]>
                </if>
                <if test="condition.endTime != null and condition.endTime  != ''">
                    <![CDATA[ and datediff(create_time, #{condition.endTime}) <= 0]]>
                </if>
            </when>
        </choose>
        order by `last_update_time` desc
    </select>
    <select id="queryResourceRecordCount" resultType="java.lang.Integer">
        select count(1) from `wedpr_sync_status_table` where 1 = 1
        <choose>
            <when test="condition != null and condition != ''">
                <if test="condition.resourceID != null and condition.resourceID !=''">
                    and `resource_id` = #{condition.resourceID}
                </if>
                <if test="condition.agency != null and condition.agency !=''">
                    and `agency` = #{condition.agency}
                </if>
                <if test="condition.trigger != null and condition.trigger !=''">
                    and `trigger` = #{condition.trigger}
                </if>
                <if test="condition.resourceType != null and condition.resourceType !=''">
                    and `resource_type` = #{condition.resourceType}
                </if>
                <if test="condition.resourceAction != null and condition.resourceAction !=''">
                    and `resource_action` = #{condition.resourceAction}
                </if>
                <if test="condition.index != null and condition.index !=''">
                    and `index` = #{condition.index}
                </if>
                <if test="condition.blockNumber != null and condition.blockNumber !=''">
                    and `block_number` = #{condition.blockNumber}
                </if>
                <if test="condition.status != null and condition.status !=''">
                    and `status` = #{condition.status}
                </if>
                <if test="condition.startTime != null and condition.startTime  != ''">
                    <![CDATA[ and datediff(create_time, #{condition.startTime}) >= 0]]>
                </if>
                <if test="condition.endTime != null and condition.endTime  != ''">
                    <![CDATA[ and datediff(create_time, #{condition.endTime}) <= 0]]>
                </if>
            </when>
        </choose>
    </select>
</mapper>